version: "3.9"
services:
  db:
    image: postgres:18
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    command: ["node", "dist/app.js"]
